.DS_Store
*.log
*.pyc
*.old
*.bat
*.ini
*.Rproj
*.Rhistory
_*
processing/*
qgis.db
logs/*
!logs/.gitkeep
output/*
!output/.gitkeep
data/*
!data/.gitkeep
data/basemap/*
!data/basemap/.gitkeep
data/raster/*
!data/raster/.gitkeep
data/vector/*
!data/vector/.gitkeep
.Rproj.user